@media only screen and (max-width: 812px) {
    #profileform {
        width: 90% !important;
        margin: auto !important;
    }
}

#profileform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding-bottom: 30px;
}

#profileform label {
    margin-top: 10px;
    width: 100%;
    font-size: 12px;
    font-weight: lighter;
}
