@media only screen and (max-width: 812px) {
    #profileform {
        width: 90% !important;
        margin: auto !important;
    }
}

#profileform {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 20px;
}

#profileform .form {
    display: inline-flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 0;
    width: 100%;
    max-width: 400px;
    padding: 10px 0;
}

.hr {
    border: 1px solid rgb(87,87,87);
    width: 100%;
    margin: 20px 0;
}

.profile-section {
    margin: 30px 0;
    flex: 1 0 auto;
    width: 100%;
}

#profileform .subheader {
    padding-bottom: 20px;
}