::-webkit-scrollbar {
    width: 1em;
    height: 50%;
}

::-webkit-scrollbar-track {
    background-color: rgba(113,113,113,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(138,138,138,0.3);
}

.lumaki-btn {
    background-color: rgb(56,180,157);
    color: white;
    border: none;
    text-transform: uppercase;
    text-align: center;
    padding: 7px 0;
    min-width: 150px;
    margin: 30px 0;
    border-radius: 10px;
}

input, textarea, select {
    font-size: 12px;
    color: black;
    background-color: rgb(196,196,196);
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 5px 8px;
    font-size: 12px;
}

label {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    font-size: 12px;
    font-weight: lighter;
}

button {
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
}

.fa-trash-alt {
    color: rgb(216, 88, 68);
}

.fa-pencil-alt {
    color: rgb(190, 188, 42)
}

.function-tools {
    position: absolute;
    top: 0;
    display: inline-flex;
}