::-webkit-scrollbar {
    width: 1em;
    height: 50%;
}

::-webkit-scrollbar-track {
    background-color: var(--lumaki-scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background-color: var(--lumaki-scrollbar-thumb);
}

.header {
    font-size: 30px;
    width: 100%;
}

.subheader {
    font-size: 20px;
    width: 100%;
}

.title {
    font-size: 16px;
    width: 100%;
}

.details {
    font-size: 10px;
}

p, li {
    font-size: 14px;
    width: 100%;
    font-weight: lighter;
    margin: 0;
}

a, a:hover, div {
    color: rgb(0,0,0);
    color: var(--lumaki-primary-font-color);
}

.lumaki-btn {
    background-color: var(--lumaki-primary-color);
    color: white;
    color: var(--lumaki-primary-font-color);
    border: none;
    text-transform: uppercase;
    text-align: center;
    padding: var(--btn-padding);
    min-width: var(--btn-width);
    margin: 30px 0;
    border-radius: var(--btn-border-radius);
    transition: all .15s ease-in-out;
    text-decoration: none;
}

.lumaki-btn:hover {
    color: var(--lumaki-body-color);
    transition: all .15s ease-in-out;
    text-decoration: none;
}

.lumaki-btn-outline {
    background-color: rgba(0,0,0,0);
    color: var(--lumaki-primary-color);
    border: 1px solid var(--lumaki-primary-color);
    text-transform: uppercase;
    text-align: center;
    padding: var(--btn-padding);
    min-width: var(--btn-width);
    margin: 30px 0;
    border-radius: var(--btn-border-radius);
    transition: all .15s ease-in-out;
    text-decoration: none;
}

.lumaki-btn-outline:hover {
    color: var(--lumaki-primary-font-color);
    border: 1px solid var(--lumaki-primary-font-color);
    transition: all .15s ease-in-out;
    text-decoration: none;
}

.add-btn {
    padding: var(--btn-padding);
    background-color: var(--lumaki-primary-btn);
    border-radius: var(--btn-border-radius);
    min-width: var(--btn-width);
    align-self: flex-start;
}

input, textarea, select {
    font-size: var(--page-font-size);
    color: var(--lumaki-secondary-font-color);
    background-color: var(--lumaki-input);
    border: none;
    border-radius: var(--input-border-radius);
    width: 100%;
    padding: var(--input-padding);
}

label {
    width: 100%;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    font-weight: lighter;
}

button {
    background-color: rgba(0,0,0,0);
    font-size: var(--btn-font-size);
    border: none;
    color: var(--lumaki-primary-font-color);
}

.fa-trash-alt {
    color: var(--lumaki-primary-font-color);
}

.fa-pencil-alt {
    color: var(--lumaki-primary-font-color);
}

.function-tools {
    position: absolute;
    top: 0;
    display: inline-flex;
    right: 0;
}

.function-tools i {
    padding: 0 7px;
}