.experience-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.experience-list-item-area {
    display: block;
    position: relative;
    width: 100%;
}

.experience-list-item p {
    padding: 2px 0;
    margin: 0;
}

.experience-list-item .description {
    padding-top: 15px;
}

.experience-list-item .function-tools {
    position: absolute;
    top: 0;
    right: 0;
}

.experience-list-item a {
    background-color: rgba(0,0,0,0) !important;
}
