.post-list-item {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: inherit;
    padding-bottom: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ghost {
    visibility: hidden;
}

.post-industry-color-bar {
    width: 50%;
    height: 10px;
    margin: 0;
    position: absolute;
    top: 0;
}

.post-list-item section {
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
}

.post-list-item img {
    width: 90%;
    padding: 20px 0;
}

.post-list-item .company a {
    margin: 0;
    text-transform: uppercase;
}

.post-list-item .position-description {
    flex: 1 0 auto;
    margin: 10px 0;
}

.tags {
    width: 100%;
}

.tag {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 5px 0;
}

.tag span {
    background-color: rgb(112,112,112);
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px 8px;
}

.cta {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 10px 5px;
    border-radius: inherit;
}

.cta a {
    text-align: inherit;
    padding-right: 20px;
}

.cta-edit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding: 7px 5px;
    background-color: rgb(122,122,122);
    overflow: hidden;
    border-radius: inherit;
}

.cta-edit a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-edit .middle {
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 0 15px;
}

.add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(121,121,121);
    text-decoration: none;
    transition: color .15s ease-in-out;
    min-height: 350px;
}

.add-card:hover {
    color: rgb(140,140,140);
    text-decoration: none;
    transition: color .15s ease-in-out;
}