.project-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 20px;
    padding: 20px;
    background-color: rgb(60,60,60);
    font-size:12px;
    border-radius: 10px;
}

.project-list-item-area {
    display: block;
    position: relative;
    width: 100%;
}

.project-list-item .description {
    padding: 25px 0 0 0;
    margin: 0;
    white-space: normal;
}

.project-list-item .function-tools {
    position: absolute;
    top: 0;
    right: 0;
}

.project-list-item a {
    background-color: rgba(0,0,0,0) !important;
}
