.skill-list-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.skill-list-item-area {
    display: flex;
    align-items: center;
    width: 100%;
}

.skill-list-item .skill {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.skill-list-item button {
    display: inline-block;
}
