#system-message {
    position: fixed;
    align-self: center;
    top: 50px;
    z-index: 1;
    max-width: 600px;
    width: 95%;
    text-align: center;
    border-radius: 20px;
    padding: 20px 50px;
}

.success {
    background-color: var(--success);
}

.danger {
    background-color: var(--danger);
}