#faq {
    display: flex;
    flex-direction: column;
    width:100%;
}

#faq .title {
    padding-bottom: 20px;
}

#faq .faq-list {
    overflow-y: scroll;
    padding-right: 30px;
    height: 100%;
}