@media only screen and (max-width: 540px) {
    #authform img {
        width: 80%;
    }
}

#authform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0;
}

.error {
    padding: 0 10%;
}

#authform label {
    text-align: left;
    width: 100%;
}

#authform input {
    background-color: rgba(0,0,0,0);
    color: white;
    border: 1px solid #FFFFFF66;
}

#authform input:focus {
    background-color: rgba(0,0,0,0);
}
