#homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

#homepage h1,
#hoempage h4 {
    width: 100%;
    text-align: center;
}

#homepage .cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

#homepage .card-container {
    width: 45%;
    height: 200px;
}

#homepage .card-container a {
    padding: 10px 30px;
}

#homepage .card-container p {
    padding-bottom: 10px;
}
