#homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 0 0 0;
}

#homepage h1,
#hoempage h4 {
    width: 100%;
    text-align: center;
}

#homepage .tiles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

#homepage .tile {
    width: 45%;
    background-color: rgb(61,61,61);
    height: 200px;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
}

#homepage .tile a {
    padding: 10px 30px;
}

#homepage .tile p {
    padding-bottom: 20px;
}
